---
language: python
services: docker

addons:
  apt:
    packages:
      - kmod

env:
  global:
    - ROLE_NAME: ansible
  matrix:
    - MOLECULE_DISTRO: ubuntu2004
    - MOLECULE_DISTRO: ubuntu1804
    - MOLECULE_DISTRO: ubuntu1604
    - MOLECULE_DISTRO: debian8
    - MOLECULE_DISTRO: debian9

install:
  # Install test dependencies.
  - pip3 install molecule yamllint ansible-lint molecule-docker

script:
  # Run tests.
  - molecule test
